{% extends 'base.html.twig' %}

{% block title %}Créer un bien {% endblock %}

{% block body %}

<div class="container mt-4">

                <h2>Créer un nouveau bien</h2>

                {{ form_start(form)}}

                <div class="row"> 
                        <div class="col-md-4"> {{ form_row(form.title) }}  </div>
                        <div class="col-md-4"> {{ form_row(form.surface) }}  </div>
                        <div class="col-md-4"> {{ form_row(form.price) }}  </div>
                </div>

                <div class="row"> 
                        <div class="col-md-4"> {{ form_row(form.rooms) }}  </div>
                        <div class="col-md-4"> {{ form_row(form.bedrooms) }}  </div>
                        <div class="col-md-4"> {{ form_row(form.floor) }}  </div>
                        <div class="col-md-4"> {{ form_row(form.heat) }}  </div>
                </div>

{% block stylesheets%}

<link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css">

                {{ form_rest(form)}}

                <button class="btn btn-primary"> Créer </button>
                
                {{ form_end(form) }}

{% endblock %}
